.caracteristica a,
.iconoRed a{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
}

.caracteristica:hover a,
.iconoRed:hover a {
	animation: movimiento 1.5s ease;
}

@keyframes movimiento {
	from {
        transform: rotate3d(0,0,0,0)
	}
    to{
        transform: rotate3d(0,1,0,360deg)
	}
}

