* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 16px;
}

header {
  background: url(../img/bg.jpg), #fff;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
}

header .contenedor_logo_menu {
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

header .contenedor_logo_menu .logo a {
  display: block;
}

header .contenedor_logo_menu .logo a img {
  vertical-align: top;
  border-radius: 100%;
}

header .contenedor_logo_menu .menu {
  text-align: right;
  line-height: 50px;
}

header .contenedor_logo_menu .menu a {
  color: #ffff;
  margin-left: 60px;
  font-size: 25px;
}

header .textos {
  color: #f3f3f3;
  text-align: center;
  padding: 200px 0;
}

header .textos .primera_linea {
  font-family: "Open Sans", Arial, Sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 30px;
}

header .textos .segundo_linea {
  font-family: "Open Sans", Arial, Sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 60px;
}

header .textos .contenedor-btns a {
  border-radius: 4px;
  border: 2px solid #f3f3f3;
  color: #f3f3f3;
  padding: 12px 0;
  font-weight: 700;
  width: 235px;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
}

header .textos .contenedor-btns a:hover {
  text-decoration: none;
  background: #fff;
  color: #4f4f4f;
}

.main .caracteristicas {
  padding: 70px 0;
}

.main .caracteristicas .titulo {
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  margin-bottom: 70px;
}

.main .caracteristicas .caracteristica {
  text-align: center;
}

.main .caracteristicas .caracteristica a {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 100px;
}

.main .caracteristicas .caracteristica a:hover {
  -webkit-animation: movimiento 1.5s ease;
          animation: movimiento 1.5s ease;
}

.main .caracteristicas .caracteristica .icono {
  vertical-align: top;
  margin-bottom: 30px;
}

.main .caracteristicas .caracteristica .primera_linea {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 20px;
}

.main .caracteristicas .caracteristica .parrafo {
  margin-bottom: 30px;
  line-height: 28px;
}

.main .fotos {
  margin-bottom: 70px;
}

.main .fotos .foto {
  margin-bottom: 20px;
}

.main .fotos .foto .thumb img {
  border-radius: 3px;
  width: 100%;
  vertical-align: top;
}

.main .fotos .foto .tituloFoto {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

.main .fotos .foto .tituloFoto.azul {
  color: #4facd3;
}

.main .fotos .foto .tituloFoto.naranja {
  color: #ddb146;
}

.main .fotos .foto .parrafo {
  line-height: 28px;
}

.main .fotos .foto .derecha {
  text-align: right;
}

@-webkit-keyframes movimiento {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes movimiento {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

.main .clientes {
  background: #2d353e;
  padding: 40px 0;
}

.main .clientes .titulo {
  text-align: center;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 40px;
}

.main .clientes .cliente {
  text-align: center;
}

.main .clientes .cliente a {
  display: block;
}

.main .precios {
  background: url(../img/precios-bg.jpg), #727171;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  padding: 70px 0;
}

.main .precios .titulo {
  text-align: center;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 70px;
}

.main .precios .plan {
  background: #fff;
  text-align: center;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  padding: 50px 0;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.main .precios .plan .nombre {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 30;
}

.main .precios .plan .precio {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 30px;
}

.main .precios .plan:hover {
  background: #4c8dce;
  color: #fff;
}

.main .precios .plan .caracteristicas {
  list-style: none;
  padding: 0 20px;
  margin-bottom: 50px;
}

.main .precios .plan .caracteristicas li {
  font-size: 18px;
  padding: 15px 0;
  border-bottom: 1px solid #dedede;
}

.main .precios .plan .btn {
  width: 70%;
  padding: 15px 0;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
}

.main .precios .plan.verde .nombre,
.main .precios .plan.verde .precio {
  color: #86b773;
}

.main .precios .plan.verde .btn {
  color: #86b773;
  border: 2px solid #86b773;
}

.main .precios .plan.verde .btn:hover {
  background: #86b773;
  color: #ffffff;
}

.main .precios .plan.marron .nombre,
.main .precios .plan.marron .precio {
  color: #b5690e;
}

.main .precios .plan.marron .btn {
  color: #b5690e;
  border: 2px solid #b5690e;
}

.main .precios .plan.marron .btn:hover {
  background: #b5690e;
  color: #ffffff;
}

.main .precios .plan.naranja .nombre,
.main .precios .plan.naranja .precio {
  color: #ddb146;
}

.main .precios .plan.naranja .btn {
  color: #ddb146;
  border: 2px solid #ddb146;
}

.main .precios .plan.naranja .btn:hover {
  background: #ddb146;
  color: #ffffff;
}

.main .reviews {
  padding: 70px;
}

.main .reviews .titulo {
  text-align: center;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #4facd3;
  margin-bottom: 70px;
}

.main .reviews .cliente {
  overflow: hidden;
  margin-bottom: 20px;
}

.main .reviews .cliente .foto {
  width: 20%;
  float: left;
  text-align: right;
}

.main .reviews .cliente .foto img {
  max-width: 100px;
  width: 100%;
  vertical-align: top;
  border-radius: 100%;
}

.main .reviews .cliente .review {
  float: left;
  width: 80%;
  padding: 0 30px;
  margin-top: 20px;
}

.main .reviews .cliente .review .texto {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}

.main .reviews .cliente .review .nombre {
  color: #ddb146;
  font-size: 14px;
}

.main .reviews .cliente.derecha .foto {
  float: right;
  text-align: left;
}

.main .reviews .cliente.derecha .review {
  float: right;
  text-align: right;
}

footer .direccion {
  background: #3c4045;
  padding: 30px 0;
  color: #ffffff;
}

footer .direccion .titulo {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

footer .direccion .titulo .calle,
footer .direccion .titulo .telefono,
footer .direccion .titulo .correo {
  margin-bottom: 10px;
}

footer .direccion .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .direccion img {
  border-radius: 100%;
}

footer .social {
  text-align: center;
  padding: 20px 0;
}

footer .social .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .social .row .icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .social .row .icono a {
  padding: 10px;
  width: 50px;
  font-size: 22px;
  color: #ffffff;
  background: #000000;
  border-radius: 100px;
  display: block;
  height: auto;
  text-align: center;
}

footer .social .row .icono a.facebook {
  background: #3b5998;
}

footer .social .row .icono a.twitter {
  background: #55acee;
}

footer .social .row .icono a.youtube {
  background: #cd201f;
}

footer .social .row .icono a:hover {
  -webkit-animation: movimiento 0.5s ease;
          animation: movimiento 0.5s ease;
}

@keyframes movimiento {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 360deg);
            transform: rotate3d(0, 1, 0, 360deg);
  }
}

@media screen and (max-width: 992px) {
  header .contenedor_logo_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .contenedor_logo_menu .logo {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  header .contenedor_logo_menu .menu {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .contenedor_logo_menu .menu .a {
    margin-bottom: 0 20px;
    margin-left: 0;
    margin-left: 0;
  }
  header .textos {
    margin: 50px 0;
    padding: 0 0;
    font-size: 16px;
  }
  header .textos .primera_linea {
    font-size: 1.5em;
  }
  header .textos .segunda_linea {
    font-size: 1.3em;
  }
  header .textos .contenedor-btns a {
    margin-bottom: 10px;
  }
  .main .fotos .foto .titulo {
    margin-top: 0;
  }
  .main .clientes .cliente {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  header .contenedor_logo_menu .menu {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .contenedor_logo_menu .menu a {
    margin: 0 20px;
  }
  header .textos .contenedor-btns a {
    margin: 5px 10px;
  }
  .main .caracteristicas .caracteristica {
    margin-bottom: 40px;
  }
  .main .fotos .foto {
    text-align: center;
  }
  .main .fotos .foto .texto p {
    margin-bottom: 10px;
  }
  .main .precios .precio {
    margin-bottom: 20px;
  }
  footer .direccion {
    text-align: center;
  }
  footer .direccion .logo img {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  header .contenedor_logo_menu .menu {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  footer .social .icono {
    margin: 0 5px;
  }
}
/*# sourceMappingURL=styles.css.map */